.login-header{
    width: 100%;
    height: 38px;
}
.login-header>.icon-xiaoyuhao{
    font-size:14px;
    color:#232323;
}
.login-logo{
    width: 100%;
    text-align: center;
    height: 43px;
    padding:24px 0;
}
.login-phone{
    width: 266px;
    height:48px;
    margin:0 27px;
    border-bottom: 1px solid #999;
    position: relative;
    line-height: 48px;
}
.login-phone>input{
    width: 100%;
    height:16px;
    border:0;
    outline: none;
}
.login-yan{
    width: 12px;
    height: 12px;
    position: absolute;
    top:18px;
    left:249px;
}
.login-cha{
    width: 12px;
    height: 12px;
    position: absolute;
    top:18px;
    left:225px;
}
.login-btn{
    width: 265px;
    height: 42px;
    line-height: 42px;
    border: 0;
    border-radius: 25px;
    margin-top: 38px;
    color:#fff;
    background: linear-gradient(50deg, #ff9a34, #ff4d4a);
    
}
.login-tab{
    margin:0 27px;
    margin-top:16px;
    width: 265px;
    height: 16px;
    font-size:12px;
    color:#666;
}
.login-other{
    width: 200px;
    height: 60px;
    margin:130px 60px 0 60px;
}
.login-other-title{
    width: 100%;
    height: 1px;
    border-top:1px solid #999;
    position: relative;
}
.login-other-title>span{
    display: inline-block;
    position: absolute;
    top:-6px;
    left:60px;
    color:#999;
    background:#fefefe;
    font-size: 12px;
    padding:0 3px;
}
.login-other-ways{
    margin-top:30px;
    display: flex;
    justify-content: space-around;
}
.login-other-way{
    width: 30px;
    height: 30px;
}
.login-code-title{
    width: 95%;
    padding-left: 5%;
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    margin-top:40px;
}
.login-code-little{
    width: 95%;
    padding-left: 5%;
    text-align: left;
    font-size: 12px;
    color:#666;
    line-height: 25px;
}
.login-code-code{
    margin-top:30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.login-code-item{
    width: 50px;
    height: 50px;
    border-bottom: 1px solid #f1f1f1;
    line-height: 50px;
    outline: none;
    caret-color: #ff6743;
}
.login-code-item>input{
    width: 20px;
    text-align: center;
    border:0;
    outline: none;
    caret-color: #ff6743;
}
.login-code-time{
    width: 95%;
    padding-left: 5%;
    text-align: left;
    font-size: 12px;
    color:#666;
    line-height: 100px;
}